@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

a,
li {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    background-color: #000000;
}

.header-hero-container,
.section,
.footer {
    width: 90%;
    margin: 0 auto;
}

.header-hero-container {
    display: flex;
    margin-top: 1.875rem;
}

.section {
    margin-top: 0.875rem;
}

.menu__item:hover .menu__link {
    color: #000000;
}

a:hover {
    cursor: pointer;
}

/* HEADER */

.burger-menu {
    display: none;
    width: 25px;
}

.burger-menu span {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background-color: #FFFFFF;
}

.burger-menu span:not(:last-child) {
    margin-bottom: 5px;
}

#close-btn {
    display: none;
}

header,
.header-top,
.menu {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #d60107;
    padding: 3.125rem;
    border-top-left-radius: 25px;
    gap: 3.375rem;
}

.header-group {
    display: flex;
    justify-content: center;
}

.header-top {
    gap: 1.5rem;
}

.header-logo {
    width: 106px;
}

.phone-number {
    font-size: 0.875rem;
    /*14px*/
}

.phone-number span {
    font-weight: 700;
}

.phone-number-img {
    width: 30px;
    display: none;
}

.menu {
    font-size: 1rem;
    font-weight: 700;
    gap: 0.875rem;
}

/*HERO*/

.hero {
    overflow-x: scroll;
    display: flex;
    gap: 0.5rem;
}

.hero-banner {
    width: 100%;
    display: flex;
    flex-shrink: 0;
}

.hero::-webkit-scrollbar {
    height: 5px;
    background-color: #141414;
}

.hero::-webkit-scrollbar-thumb {
    background: #d60107;
}

.hero {
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
}

.hero-img {
    height: 100%;
    width: 100%;
}

/* SIDE-SECTION */

.search,
.side-menu,
.side-menu__item {
    display: flex;
}

.search {
    justify-content: center;
    gap: 1rem;
    padding: 1.25rem;
}

.search input {
    background-color: transparent;
    outline: none;
    border: none;
}

.search input::placeholder {
    font-size: 0.875rem;
    /*14px*/
}

.side-section {
    position: relative;
}

.side-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    flex-direction: column;
    background-color: #FFFFFF;
    border-top-right-radius: 25px;
}

.side-menu__item {
    padding: 0.9rem 1.4rem;
    font-weight: 700;
    font-size: 0.875rem;
    /*14px*/
    gap: 1.75rem;
}

.side-menu__link {
    color: #000000;
}

.item_selected {
    background-color: #d60107;
    border-top-right-radius: 25px;
}

.item_selected .side-menu__link {
    color: #FFFFFF;
}

.icon-img {
    max-height: 30px;
}

/* NEWS */

.news,
.see-all-btn {
    display: flex;
}

.news {
    gap: 0.5rem;
    overflow-x: scroll;
}

.news::-webkit-scrollbar {
    display: none;
}

.news {
    -ms-overflow-style: none;
    /* IE и Edge */
    scrollbar-width: none;
    /* Firefox */
}

.news-card {
    position: relative;
    font-size: 0;
}

.news-card__title,
.news-card__date {
    position: absolute;
}

.news-card__title {
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    font-weight: 500;
    font-size: 0.875rem;
    /*14px*/
    padding: 1rem 3.125rem;
    z-index: 2;
}

.news-card__date {
    background-color: #d60107;
    font-size: 0.75rem;
    padding: 0.4rem 1.2rem;
    bottom: 0;
    left: 0;
    z-index: 3;
    transform: rotate(-90deg) translateY(100%);
    transform-origin: left bottom;
}

.see-all-btn {
    background-color: #d60107;
    border-bottom-right-radius: 25px;
    justify-content: center;
    align-items: center;
    min-width: 0;
    white-space: nowrap;
    max-width: 4%;
    align-self: stretch;
    position: relative;
    padding: 1rem;
    position: relative;
}

.see-all-btn a,
.news-card a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.see-all-btn p {
    transform: rotate(-90deg);
    font-size: 0.875rem;
    /*14px*/
    font-weight: 500;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
}

/* CLIENTS */

.clients {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 0 0 25px 25px;
    padding: 1.5rem;
    overflow: hidden;
    position: relative;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-170px * 12));
        transform: translateX(calc(-170px * 12));
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-170px * 12));
        transform: translateX(calc(-170px * 12));
    }
}

.clients_slider-track {
    -webkit-animation: scroll 60s linear infinite;
    animation: scroll 60s linear infinite;
    display: flex;
    align-items: center;
    width: calc(170px * 24);
}

.clients__slide {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
.footer,
.logo-copyright,
.footer-menu-container,
.footer-menu-wrapper {
    display: flex;
    flex-direction: row;
}

.copyright,
.about-menu,
.serv-menu {
    display: flex;
    flex-direction: column;
}

.footer {
    padding: 2.5rem;
    justify-content: space-between;
}

.logo-copyright {
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo-copyright img {
    width: 56px;
}

.copyright,
.footer-menu__link {
    font-size: 0.75rem;
    font-weight: 400;
}

.copyright span {
    color: #d60107;
}

.footer-menu-container {
    gap: 5rem;
}

.about-menu,
.serv-menu {
    gap: 1.5rem;
}

.footer-menu-wrapper {
    gap: 1rem;
}

.footer-menu-title {
    font-size: 0.875rem;
    color: #d60107;
}

@media (hover: hover) {
    .side-menu__item:hover .side-menu__link {
        color: #FFFFFF
    }

    .side-menu__item:hover:not(:first-child) {
        background-color: #d60107;
    }

    .side-menu__item:hover:first-child {
        border-top-right-radius: 25px;
        background-color: #d60107;
    }
}


@media (min-width: 1600px) {

    .header-hero-container,
    .section,
    .footer {
        width: 1400px;
        margin: 0 auto;
    }

    .header-hero-container {
        display: flex;
        margin-top: 1.875rem;
    }

    .section {
        margin-top: 0.875rem;
    }


}

@media (min-width: 1441px) and (max-width: 1520px) {

    .side-menu__item {
        padding: 0.85rem 1.2rem;
        font-size: 0.76rem;
    }

}

@media (min-width: 1281px) and (max-width: 1440px) {

    .side-menu__item {
        padding: 0.85rem 1.2rem;
        font-size: 0.76rem;
    }
}

@media (max-width: 1280px) {

    .header-hero-container,
    .section,
    .footer {
        width: 100%;
    }

    .header-hero-container {
        margin-top: 0;
    }

    .main-modal_menu__wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: flex-start;
        z-index: 10;
        display: none;
    }

    #close-btn {
        display: flex;
        color: #FFFFFF;
        font-size: 4rem;
        justify-content: flex-end;
        align-items: center;
        line-height: 0.6;
        padding: 0.8rem;
    }

    .burger-menu {
        display: block;
    }

    .menu {
        background-color: #d60107;
        width: 100%;
    }

    .menu__item {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.8rem 0;
        width: 100%;
        color: white;
        background-color: #d60107;
    }

    .header-hero-container {
        flex-direction: column;
    }

    .header {
        flex-direction: row;
        border-top-left-radius: 0;
        justify-content: space-between;
        padding: 1.125rem;
        align-items: center;
    }

    .header-top {
        flex-direction: row;
        align-items: center;
    }

    .hero-img {
        height: inherit;
    }

    .phone-number {
        display: none;
    }

    .phone-number-img {
        display: block;
    }

    .side-menu {
        position: static;
        border-top-right-radius: 0;
        margin-top: 0.575rem;
    }

    .search {
        display: none;
    }

    .item_selected {
        display: none;
    }

    .clients {
        border-radius: 0;
    }

    .footer {
        gap: 2rem;
    }

    .footer,
    .footer-menu-container,
    .footer-menu-wrapper {
        flex-direction: column;
    }

    .footer-menu-container {
        gap: 1rem;
    }

    .logo-copyright {
        flex-direction: row;
    }

    .about-menu,
    .serv-menu {
        gap: 0.5rem;
    }

}

@media (max-width: 790px) {

    .menu {
        font-size: 0.8rem;
    }
}